#buySellHistogram {
	display: block;
	margin: auto;
}

.js-example-basic-single {
	width: 100%;
}

.nav-item {
	cursor: pointer;
}

#rankingsDataTable {

}

.shadowCard {
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	margin: 1rem;
	position: relative;
	padding: 1% 1% 1% 1%;

	
}
.shadowCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#doneLoading, #counterPartyGraph, #instrumentsGraph {
	display: none;
}

.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: black;
}

.navbarIcon {
	width: 28px;
	height: 28px;
	margin-bottom: 5%;
}

.cardTitles {
	font-family: "Open Sans", verdana, arial, sans-serif;
    font-size: 26px;
    fill: rgb(68, 68, 68);
    opacity: 1;
    font-weight: normal;
    white-space: pre;
}

/*.text {
  font-size: 12px;
}

.title-text {
  font-size: 12px;
}*/


.wrimagecard{	
	margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.wrimagecard .fa{
	position: relative;
    font-size: 70px;
}
.wrimagecard-topimage_header{
padding: 20px;
}
.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}
.wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
}
.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}
